html {
  --hover-link-color: #00acdc;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.logo {
  display: block;
  width: 40px;
  height: 40px;
}

.header {
  font-size: 12px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  box-sizing: border-box;
  align-items: center;
}

.header a {
  text-decoration: none;
  border: 0;
  color: black;
  transition: color 0.15s linear;
}

.header a:hover {
  color: var(--hover-link-color);
}

.menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu__link {
  text-transform: uppercase;
}

.menu__item:not(:first-child) {
  margin-left: 20px;
}

.is-active::after {
  content: 'sa';
  position: relative;
  background-color: var(--hover-link-color);
  height: 2px;
  width: 100%;
}
